.ven_2 {
  display: flex;
}
.opciones {
  display: flex;
  width: 27%;
  height: 550px;
  justify-content: center;
  flex-wrap: wrap;
}
.head_opcion {
  text-align: center;
  font-size: 24px;
}
.opcion {
  width: 180px;
  cursor: pointer;
  text-align: center;
}
.elegir button {
  width: 100%;
  height: 80%;
  background-color: #3fab42; /* Fondo verde */
  color: white; /* Texto blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px;
}
.elegir button:hover {
  background-color: #59a75a;
  color: white;
}
.muestras {
  width: 73%;
  height: 550px;
  overflow-y: scroll;
}
