.yorwids {
  margin: 0;
  background: #ffffff;
  color: #333;
}

.channel-header {
  background-color: white;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.channel-banner {
  width: 100%;
  aspect-ratio: 100 / 16.53;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile h2 {
  font-size: 22px;
  margin: 0;
}
.profile div a {
  text-decoration: none;
  color: #000000;
}
.profile div a:hover {
  text-decoration: underline;
  color: #000000;
}
.stats {
  font-size: 15px;
  color: rgb(94, 94, 94);
  margin-top: 5px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  .profile {
    height: 90px;
  }
  .profile h2 {
    font-size: 17px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .profile img {
    width: 50px;
    height: auto;
  }
  .stats {
    font-size: 12px;
    color: rgb(94, 94, 94);
    margin-top: 5px;
  }
  .subscribe-btn {
    padding: 6px 10px;
    font-size: 10.5px;
    border-radius: 8px;
    margin-right: 15px;
  }
}

.pf-data {
  width: 75%;
}

/* galeriaaaaaaaaaaaaaaaaaaaa*/

.gallery-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1550px;
  margin: auto;
}

.gallery {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.video {
  width: 28%;
  height: auto;
  position: relative;
  cursor: pointer;
}
.miniatura {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.thumbnail {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000b5;
  border: none;
  border-radius: 12%;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #0000009f;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}
.video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 2px;
}
.video-description {
  font-size: 12px;
  min-height: 2.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Opcional: futura compatibilidad */
  line-clamp: 2;
  box-orient: vertical;
}

.video-info {
  font-size: 14px;
  color: gray;
}

.gallery-nav-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 25%;
  background: #ede6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 9;
  cursor: pointer;
  box-shadow: 0 4px 6px #0003;
}

.gallery-prev {
  left: 50px;
}
.gallery-next {
  right: 50px;
}

/* Paginación */
.pagination {
  text-align: center;
  margin-top: 15px;
}

.pagination-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-dot.active {
  background: #333;
}
