.yorwids {
  margin: 0;
  background: #ffffff;
  color: #333;
}

.channel-header {
  background-color: white;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.channel-banner {
  width: 100%;
  aspect-ratio: 100 / 16.53;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile h2 {
  font-size: 22px;
  margin: 0;
}
.profile div a {
  text-decoration: none;
  color: #000000;
}
.profile div a:hover {
  text-decoration: underline;
  color: #000000;
}
.stats {
  font-size: 15px;
  color: rgb(94, 94, 94);
  margin-top: 5px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  .profile {
    height: 90px;
  }
  .profile h2 {
    font-size: 17px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .profile img {
    width: 50px;
    height: auto;
  }
  .stats {
    font-size: 12px;
    color: rgb(94, 94, 94);
    margin-top: 5px;
  }
  .subscribe-btn {
    padding: 6px 10px;
    font-size: 10.5px;
    border-radius: 8px;
    margin-right: 15px;
  }
}

.pf-data {
  width: 75%;
}

/* galeriaaaaaaaaaaaaaaaaaaaa*/

.gallery-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1550px;
  margin: auto;
}

.gallery {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.video {
  width: 28%;
  height: auto;
  position: relative;
  cursor: pointer;
}
.video:hover {
  button {
    background-color: rgb(255, 0, 0);
  }
  .video-title {
    text-decoration: underline;
  }
}
.miniatura {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.thumbnail {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.play-button {
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000b5;
  border: none;
  border-radius: 12%;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #0000009f;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}
.video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 2px;
}
.video-description {
  font-size: 12px;
  min-height: 2.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Opcional: futura compatibilidad */
  line-clamp: 2;
  box-orient: vertical;
}

.video-info {
  font-size: 14px;
  color: gray;
}

.gallery-nav-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 25%;
  background: #ede6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 9;
  cursor: pointer;
  box-shadow: 0 4px 6px #0003;
}
.gallery-nav-btn:hover {
  background: rgba(255, 255, 255, 1);
}
.gallery-prev {
  left: 50px;
}
.gallery-next {
  right: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 5px;
  padding: 30px;
}

.paginat-btn {
  width: 27px;
  height: 30px;
  background-color: #dfdfdf;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.paginat-btn:hover {
  background-color: #b4b4b4;
}

.paginat-btn.active {
  background-color: #b4b4b4;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Importante: permite que el modal ocupe toda la pantalla */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center; /* Centrado horizontal */
  padding-top: 4%;
  z-index: 10;
}

.modal-content {
  background-color: #0091ff00;
  width: 71%;
  overflow-y: auto;
}

.video-iframe-container {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.video-iframe-container iframe {
  width: 100%; /* o un valor fijo, como 800px */
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}
.md-stats {
  border-bottom: #bebebe 1px solid;
  display: flex;
  gap: 70%;
  height: 30px;
}
.modal-info {
  background-color: #ffffff;
  padding: 2%;
}
.md_title {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.modal-close {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: #7e7e7e81;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4%;
  right: 11%;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
}

.profile-md {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: start;
  padding-top: 18px;
}

.profile-md img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-md h2 {
  font-size: 22px;
}
.profile-md div a {
  text-decoration: none;
  color: #000000;
}
.profile-md div a:hover {
  text-decoration: underline;
  color: #000000;
}

.md-info {
  font-size: 14px;
  color: rgb(138, 138, 138);
}
.md-info-fecha {
  font-size: 13px;
  color: rgb(108, 108, 108);
}

.md-description {
  font-size: 14px;
}

.likes {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #0091ff 2px solid;
}
