.carousel-container {
  position: relative;
  width: 97%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas */
  gap: 10px; /* Espacio entre imágenes */
  width: 100%;
  flex: none;
}

.video-item {
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Esto garantiza que los contenidos excesivos se oculten */
  display: block;
  flex-direction: column;
  justify-content: space-between;
}
.miniatura {
  width: 100%;
  position: relative;
  height: auto;
}
.miniatura img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 5px;
  position: relative;
}

.descripcion {
  text-align: left;
  overflow: hidden;
}
.vd_titulo {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  font-size: 15px;
  line-height: 1.2em;
}
.vd-dscpn {
  font-size: 14px;
  color: black;
  display: -webkit-box; /* Usar un contenedor flexible */
  -webkit-box-orient: vertical; /* Dirección del contenido */
  overflow: hidden; /* Ocultar el contenido que se desborda */
  text-overflow: ellipsis; /* Mostrar los puntos suspensivos */
  line-height: 1.2em; /* Controlar la altura de línea */
  max-height: 2.6em;
}
.video-info {
  font-size: 14px;
  color: gray;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 12%;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video-item:hover {
  button {
    background-color: rgba(255, 0, 0, 0.719);
  }
  .vd_titulo {
    text-decoration: underline;
  }
}

.play-button::before {
  content: "▶\FE0E";
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
}
.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.nav-buttons button {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.633);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.175);
}

.nav-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.926);
}

/*MODAAAAAAAAAAAAAL*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Importante: permite que el modal ocupe toda la pantalla */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center; /* Centrado horizontal */
  overflow: auto;
  padding-top: 4%;
  z-index: 10;
}

.modal-content {
  background-color: #0091ff00 !important;
  width: 71% !important;
  overflow-y: auto;
}

.video-iframe-container {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.video-iframe-container iframe {
  width: 100%; /* o un valor fijo, como 800px */
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #cc0000;
}
.md-stats {
  border-bottom: #bebebe 1px solid;
  display: flex;
  gap: 70%;
  height: 30px;
}
.modal-info {
  background-color: #ffffff;
  padding: 2%;
}
.md_title {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.modal-close {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: #7e7e7e81;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4%;
  right: 11%;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
}

.profile-md {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: start;
  padding-top: 18px;
}

.profile-md img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-md h2 {
  font-size: 22px;
}
.profile-md div a {
  text-decoration: none;
  color: #000000;
}
.profile-md div a:hover {
  text-decoration: underline;
  color: #000000;
}

.md-info {
  font-size: 14px;
  color: rgb(138, 138, 138);
}
.md-info-fecha {
  font-size: 13px;
  color: rgb(108, 108, 108);
}

.md-description {
  font-size: 14px;
}

.likes {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #0091ff 2px solid;
}
