header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: #000;
  background: transparent; /* inicio */
  transition: background 0.3s ease;
  z-index: 1000;
}

.widsyord-titulo {
  width: 100px;
  transition: width 0.5s ease;
}
.widsyord-titulo:hover {
  filter: drop-shadow(0px 0px 10px var(--rosa-oscuro));
  width: 105px;
}
/* Cuando hace scroll */
header.scrolled {
  background: var(--verde-gris);
  box-shadow: 0px 2px 10px #5e5e5e;
}

header.scrolled .widsyord-titulo {
  width: 90px;
}

footer {
  background: var(--verde-gris);
  color: #000;
  padding: 20px;
  text-align: center;
}
